Package: AutoClashBotiOS
Name: AutoClashBotiOS
Version: 7.4.0
Architecture: iphoneos-arm
Description: Train troops, search for 'dead' bases to attack and deploy your army including any Clan Castle Troops and heroes. Website: https://autoclashbotios.com
Depiction: https://store.autotouch.net/details.html?id=25795
Author: AutoBot <autoclashbotios@hotmail.com>
Section: Games (Bots)
Depends: me.autotouch.autotouch.ios8 (>= 7.0.28), curl, com.rpetrich.rocketbootstrap (>> 1.0.6)
Maintainer: AutoBot <autoclashbotios@hotmail.com>

